.adverts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 20%;
  height: 100vh;
  max-width: 1200px;
  padding: 0 0px;
  box-sizing: border-box;
  margin: 10px;
  background: darkgray;
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  .adverts {
    width: 100%;
    height: auto;
    padding: 0 20px;
  }
}
