footer {
  background-color: #898686;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
footer h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  height: auto;
}

span {
  display: block;
}
.black {
  background-color: black;
  height: 5px;
}
.yellow {
  background-color: yellow;
  height: 5px;
}
.red {
  background-color: red;
  height: 5px;
}
* {
  margin: 0;
  padding: 0%;
}
footer {
  background-color: #898686;
  /* position: fixed; */
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 832px;
}
h3 {
  color: #ffffff;
  text-align: center;
}
p {
  color: #ffffff;
  text-align: center;
}
