/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* header {
  background-color: #898686;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}
header h3 {
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  height: auto;
}

span {
  display: block;
}
.blue {
  background-color: rgb(19, 12, 218);
  height: 5px;
}
.yellow {
  background-color: yellow;
  height: 5px;
}
.red {
  background-color: red;
  height: 5px;
} */
