/* Sidebar.module.css */
.sidebar {
  width: 90px;
  background-color: grey;
  /* position: inherit; */
  height: auto;
}

.link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.link:hover {
  background-color: #555;
}
