@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  body {
    overflow: auto;
  }
}
